In [1]:
import pandas as pd
import numpy as np

In [2]:
df_so2=pd.read_csv('so2_daily_summary.csv',low_memory=False)
df_o3=pd.read_csv('o3_daily_summary.csv',low_memory=False)
df_no2=pd.read_csv('no2_daily_summary.csv',low_memory=False)
# df_pm25_frm=pd.read_csv('pm25_frm_daily_summary.csv',low_memory=False)
# df_pm25_non_frm=pd.read_csv('pm25_nonfrm_daily_summary.csv',low_memory=False)

In [3]:
print(len(df_so2))
print(len(df_o3))
print(len(df_no2))
# print(len(df_pm25_frm))
# print(len(df_pm25_non_frm))

2472873
2144377
1922001

In [4]:
df_so2['datetime_gmt']=pd.to_datetime(df_so2['date_gmt'] + ' ' + df_so2['time_gmt'])
df_o3['datetime_gmt']=pd.to_datetime(df_o3['date_gmt'] + ' ' + df_o3['time_gmt'])
df_no2['datetime_gmt']=pd.to_datetime(df_no2['date_gmt'] + ' ' + df_no2['time_gmt'])
# df_pm25_frm['datetime_gmt']=pd.to_datetime(df_pm25_frm['date_gmt'] + ' ' + df_pm25_frm['time_gmt'])
# df_pm25_non_frm['datetime_gmt']=pd.to_datetime(df_pm25_non_frm['date_gmt'] + ' ' + df_pm25_non_frm['time_gmt'])

In [5]:
df_so2['datetime_local']=pd.to_datetime(df_so2['date_local'] + ' ' + df_so2['time_local'])
df_o3['datetime_local']=pd.to_datetime(df_o3['date_local'] + ' ' + df_o3['time_local'])
df_no2['datetime_local']=pd.to_datetime(df_no2['date_local'] + ' ' + df_no2['time_local'])

In [6]:
df_so2=df_so2.sort_values(by='datetime_gmt')
df_o3=df_o3.sort_values(by='datetime_gmt')
df_no2=df_no2.sort_values(by='datetime_gmt')
# df_pm25_frm=df_pm25_frm.sort_values(by='datetime_gmt')
# df_pm25_non_frm=df_pm25_non_frm.sort_values(by='datetime_gmt')

In [7]:
print(df_so2['date_gmt'].min())
print(df_o3['date_gmt'].min())
print(df_no2['date_gmt'].min())
# print(df_pm25_frm['date_gmt'].min())
# print(df_pm25_non_frm['date_gmt'].min())

1990-01-01
1990-01-01
1990-01-01

In [8]:
print(df_so2['date_gmt'].max())
print(df_o3['date_gmt'].max())
print(df_no2['date_gmt'].max())
# print(df_pm25_frm['date_gmt'].max())
# print(df_pm25_non_frm['date_gmt'].max())

2018-01-01
2018-01-01
2018-01-01

In [9]:
common_site_num=list(set(df_so2['site_num'].unique()).intersection(set(df_o3['site_num'].unique())).intersection(set(df_no2['site_num'].unique())))

In [10]:
df_so2_common=df_so2[df_so2['site_num'].isin(common_site_num)]

df_o3_common=df_o3[df_o3['site_num'].isin(common_site_num)]

df_no2_common=df_no2[df_no2['site_num'].isin(common_site_num)]

In [11]:
print(df_so2_common['date_gmt'].min())
print(df_o3_common['date_gmt'].min())
print(df_no2_common['date_gmt'].min())

1990-01-01
1990-01-01
1990-01-01

In [12]:
print(df_so2_common['date_gmt'].max())
print(df_o3_common['date_gmt'].max())
print(df_no2_common['date_gmt'].max())

2018-01-01
2018-01-01
2018-01-01

In [13]:
df_so2['units_of_measure'].unique()

array(['Parts per billion'], dtype=object)

In [14]:
df_no2['units_of_measure'].unique()

array(['Parts per billion'], dtype=object)

In [15]:
df_o3['units_of_measure'].unique()

array(['Parts per million'], dtype=object)

In [16]:
df_so2['sample_measurement'].max()

369.0

In [17]:
df_o3['sample_measurement'].max()

0.185

In [18]:
df_so2_common=df_so2_common.drop(['parameter_code','poc','latitude','longitude','datum','qualifier','method_type','method_code','method_name','date_of_last_change','parameter_name','units_of_measure'],axis=1)
df_o3_common=df_o3_common.drop(['parameter_code','poc','latitude','longitude','datum','qualifier','method_type','method_code','method_name','date_of_last_change','parameter_name','units_of_measure'],axis=1)
df_no2_common=df_no2_common.drop(['parameter_code','poc','latitude','longitude','datum','qualifier','method_type','method_code','method_name','date_of_last_change','parameter_name','units_of_measure'],axis=1)

In [19]:
df_so2_common.dtypes

state_code                     int64
county_code                    int64
site_num                       int64
date_local                    object
time_local                    object
date_gmt                      object
time_gmt                      object
sample_measurement           float64
mdl                          float64
uncertainty                  float64
state_name                    object
county_name                   object
datetime_gmt          datetime64[ns]
datetime_local        datetime64[ns]
dtype: object

In [20]:
df_so2_common.head()

,state_code,county_code,site_num,date_local,time_local,date_gmt,time_gmt,sample_measurement,mdl,uncertainty,state_name,county_name,datetime_gmt,datetime_local
1498922,36,5,73,1990-01-01,00:00,1990-01-01,05:00,29.0,2.0,NaN,New York,Bronx,1990-01-01 05:00:00,1990-01-01
1855640,34,39,3,1990-01-01,00:00,1990-01-01,05:00,14.0,2.0,NaN,New Jersey,Union,1990-01-01 05:00:00,1990-01-01
1162859,34,3,5001,1990-01-01,00:00,1990-01-01,05:00,4.0,2.0,NaN,New Jersey,Bergen,1990-01-01 05:00:00,1990-01-01
1146032,34,13,11,1990-01-01,00:00,1990-01-01,05:00,13.0,2.0,NaN,New Jersey,Essex,1990-01-01 05:00:00,1990-01-01
1515753,34,39,4,1990-01-01,00:00,1990-01-01,05:00,11.0,2.0,NaN,New Jersey,Union,1990-01-01 05:00:00,1990-01-01

In [21]:
df_o3_common.dtypes

state_code                     int64
county_code                    int64
site_num                       int64
date_local                    object
time_local                    object
date_gmt                      object
time_gmt                      object
sample_measurement           float64
mdl                          float64
uncertainty                  float64
state_name                    object
county_name                   object
datetime_gmt          datetime64[ns]
datetime_local        datetime64[ns]
dtype: object

In [22]:
df_no2_common.dtypes

state_code                     int64
county_code                    int64
site_num                       int64
date_local                    object
time_local                    object
date_gmt                      object
time_gmt                      object
sample_measurement           float64
mdl                          float64
uncertainty                  float64
state_name                    object
county_name                   object
datetime_gmt          datetime64[ns]
datetime_local        datetime64[ns]
dtype: object

In [23]:
common_columns=[]
for x in df_no2_common.columns:
    if x=='sample_measurement' or 'units_of_measure' or 'mdl' or 'uncertainty':
        pass
    else:
        print(x)
        common_columns.append(x)

In [24]:
common_columns=[]
for x in df_no2_common.columns:
    if x=='sample_measurement' or x=='units_of_measure' or x=='mdl' or x=='uncertainty' or x=='parameter_name':
        pass
    else:
#         print(x)
        common_columns.append(x)

In [25]:
common_columns

['state_code',
 'county_code',
 'site_num',
 'date_local',
 'time_local',
 'date_gmt',
 'time_gmt',
 'state_name',
 'county_name',
 'datetime_gmt',
 'datetime_local']

In [35]:
df_temp=pd.merge(left=df_so2_common,right=df_o3_common, how='outer', left_on=common_columns, right_on=common_columns)

In [36]:
df_temp=df_temp.rename(columns={"sample_measurement_x": "SO2", "sample_measurement_y": "O3",'mdl_x':'SO2 mdl','mdl_y':'O3 mdl','uncertainty_x':'SO2 Uncertainty','uncertainty_y':'O3 Uncertainty'})
df_temp['O3']=df_temp['O3']*1000
df_temp.head()

,state_code,county_code,site_num,date_local,time_local,date_gmt,time_gmt,SO2,SO2 mdl,SO2 Uncertainty,state_name,county_name,datetime_gmt,datetime_local,O3,O3 mdl,O3 Uncertainty
0,36,5,73,1990-01-01,00:00,1990-01-01,05:00,29.0,2.0,NaN,New York,Bronx,1990-01-01 05:00:00,1990-01-01,NaN,NaN,NaN
1,34,39,3,1990-01-01,00:00,1990-01-01,05:00,14.0,2.0,NaN,New Jersey,Union,1990-01-01 05:00:00,1990-01-01,NaN,NaN,NaN
2,34,3,5001,1990-01-01,00:00,1990-01-01,05:00,4.0,2.0,NaN,New Jersey,Bergen,1990-01-01 05:00:00,1990-01-01,NaN,NaN,NaN
3,34,13,11,1990-01-01,00:00,1990-01-01,05:00,13.0,2.0,NaN,New Jersey,Essex,1990-01-01 05:00:00,1990-01-01,3.0,0.005,NaN
4,34,39,4,1990-01-01,00:00,1990-01-01,05:00,11.0,2.0,NaN,New Jersey,Union,1990-01-01 05:00:00,1990-01-01,NaN,NaN,NaN

In [37]:
df_temp.columns

Index(['state_code', 'county_code', 'site_num', 'date_local', 'time_local',
       'date_gmt', 'time_gmt', 'SO2', 'SO2 mdl', 'SO2 Uncertainty',
       'state_name', 'county_name', 'datetime_gmt', 'datetime_local', 'O3',
       'O3 mdl', 'O3 Uncertainty'],
      dtype='object')

In [38]:
df_final=pd.merge(left=df_temp,right=df_no2_common, how='outer', left_on=common_columns, right_on=common_columns)

In [39]:
df_final=df_final.rename(columns={"sample_measurement": "NO2",'mdl':'NO2 mdl','uncertainty':'NO2 Uncertainty'})
df_final.columns

Index(['state_code', 'county_code', 'site_num', 'date_local', 'time_local',
       'date_gmt', 'time_gmt', 'SO2', 'SO2 mdl', 'SO2 Uncertainty',
       'state_name', 'county_name', 'datetime_gmt', 'datetime_local', 'O3',
       'O3 mdl', 'O3 Uncertainty', 'NO2', 'NO2 mdl', 'NO2 Uncertainty'],
      dtype='object')

In [40]:
df_final['Units of Measurement']='Parts per billion'

In [43]:
df_final.to_csv('so2_no2_o3.csv')